$desktop:1300px;
$tablet:992px;
$mobile:768px;

//colors
$white:#fff;
$black:#231F1F;
$rose:#E01563;
$yellow:#FFDD00;
$darkYellow: #e0ce59;
$green:#3EB991;
$blue:#D9EFFF;
$darkBlue: #429fce;
$gray:#E2E2E2;
$darkGray:rgba(29, 26, 26, 0.57);
$lightGray:#EEEEEE;
